---
import type { CollectionEntry } from 'astro:content';

interface Props {
  project: CollectionEntry<'work'>;
}

const { data, slug } = Astro.props.project;
---

<a
  class="mx-auto grid min-h-[24em] max-w-lg auto-cols-auto grid-rows-[26.5em_auto] overflow-hidden rounded-xl border border-gray-300 text-gray-600 shadow-md shadow-gray-700/10 transition-shadow xjy-transition hover:shadow-lg dark:border-gray-700 dark:text-gray-400 dark:shadow-gray-300/10 md:rounded-2xl [&_#title]:hover:decoration-current"
  href={`/work/${slug}`}
>
  <div
    class="grid grid-cols-[auto_1fr_auto] grid-rows-[auto_1fr_auto] [&_>_*]:inline-grid"
  >
    <div
      id="title"
      class="z-10 col-start-1 col-end-2 row-start-1 row-end-2 m-2 rounded-lg border border-gray-200 bg-gray-50 px-4 py-2 font-brand text-lg font-medium text-primary underline decoration-transparent underline-offset-[0.25em] transition-colors xjy-transition dark:border-gray-800 dark:bg-gray-950 md:rounded-xl"
    >
      {data.title}
    </div>
    <img
      class="col-start-1 col-end-4 row-start-1 row-end-4 h-full w-full object-cover"
      src={data.img}
      alt={data.img_alt || ''}
      loading="lazy"
      decoding="async"
    />
    <div
      class="col-span-3 col-start-1 row-start-3 row-end-3 justify-self-end p-2"
    >
      {
        data.role && (
          <div class="z-10 max-w-max rounded-lg border border-gray-200 bg-gray-50 px-2 py-1 text-right text-sm dark:border-gray-800 dark:bg-gray-950 md:rounded-xl">
            {data.role}
            {data.timeText && (
              <span class="italic text-primary">
                <br />
                {data.timeText}
              </span>
            )}
          </div>
        )
      }
    </div>
  </div>
  <p class="p-4">{data.description}</p>
</a>

<style></style>
