---
import type { CollectionEntry } from 'astro:content';
import Icon from './Icon.astro';

interface Props {
  project: CollectionEntry<'work'>;
}

const { data, slug } = Astro.props.project;
---

<div
  class="grid min-h-[24em] auto-cols-auto grid-rows-[18em_1fr_auto] overflow-hidden rounded-xl border border-slate-300 shadow-md shadow-slate-700/10 transition-shadow xjy-transition hover:shadow-lg dark:border-slate-700 dark:shadow-slate-300/10 md:rounded-2xl"
>
  <div
    class="grid grid-cols-[auto_1fr_auto] grid-rows-[auto_1fr_auto] [&_>_*]:inline-grid"
  >
    <a
      class="z-10 col-start-1 col-end-2 row-start-1 row-end-2 m-2 rounded-lg border border-slate-200 bg-slate-50 px-4 py-2 font-brand text-lg font-medium no-underline underline-offset-[0.25em] transition xjy-transition hover:underline hover:decoration-current md:rounded-xl"
      href={`/work/${slug}`}>{data.title}</a
    >
    <img
      class="col-start-1 col-end-4 row-start-1 row-end-4 h-full w-full object-cover"
      src={data.img}
      alt={data.img_alt || ''}
      loading="lazy"
      decoding="async"
    />
    <div
      class="col-span-3 col-start-1 row-start-3 row-end-3 justify-self-end p-2"
    >
      {
        data.role && (
          <div class="z-10 max-w-max rounded-lg border border-slate-200 bg-slate-50 px-2 py-1 text-right text-sm md:rounded-xl">
            {data.role}
            {data.timeText && (
              <span class="italic text-teal-600 dark:text-teal-400">
                <br />
                {data.timeText}
              </span>
            )}
          </div>
        )
      }
    </div>
  </div>
  <p class="p-4 text-slate-700">{data.description}</p>
  <a
    class="mb-2 mr-4 inline-block justify-self-end underline-offset-[0.25em] transition xjy-transition hover:underline hover:decoration-current"
    href={`/work/${slug}`}
  >
    Read More <Icon icon="arrow-right" />
  </a>
</div>

<style></style>
