---
import {
  ItemsPositionClass,
  FontSizeClass,
  Screens,
} from '../scripts/tailwindTypes';
type FontSizes =
  | `${FontSizeClass}`
  | `${FontSizeClass} ${Screens}:${FontSizeClass}`;

interface Props {
  title: string;
  tagline?: string;
  color?: string;
  beforeLineColor?: string;
  afterLineColor?: string;
  align?: ItemsPositionClass;
  titleFontSize?: FontSizes;
  taglineFontSize?: FontSizes;
}

const {
  title,
  tagline,
  align = 'items-center',
  color = 'text-gray-700 dark:text-gray-200',
  beforeLineColor = 'before:bg-gray-700 before:dark:bg-gray-200',
  afterLineColor = 'after:bg-gray-700 after:dark:bg-gray-200',
  titleFontSize = 'text-3xl md:text-5xl',
  taglineFontSize = 'text-lg md:text-xl',
} = Astro.props;
---

<header class:list={['flex flex-col text-center gap-4', align]}>
  <div class="flex max-w-md flex-col gap-2">
    <h1
      class:list={[
        'relative mx-auto my-6 break-words font-brand font-bold after:absolute after:-bottom-2 after:right-[calc(50%-50px)] after:inline-block after:h-[1px] after:w-[100px] before:md:absolute before:md:-top-3 before:md:left-0 before:md:h-[1px] before:md:w-7/12 after:md:-bottom-3 after:md:right-0 after:md:w-7/12',
        color,
        titleFontSize,
        beforeLineColor,
        afterLineColor,
      ]}
    >
      {title}
    </h1>
    {
      tagline && (
        <p class:list={['mx-auto', color, taglineFontSize]}>{tagline}</p>
      )
    }
  </div>
  <slot />
</header>

<style></style>
