---
import {
  ItemsPositionClass,
  FontSizeClass,
  Screens,
} from '../scripts/tailwindTypes';
type FontSizes =
  | `${FontSizeClass}`
  | `${FontSizeClass} ${Screens}:${FontSizeClass}`;

interface Props {
  title: string;
  tagline?: string;
  color?: string;
  lineColor?: string;
  align?: ItemsPositionClass;
  titleFontSize?: FontSizes;
  taglineFontSize?: FontSizes;
}

const {
  title,
  tagline,
  align = 'items-center',
  color = 'text-gray-700 dark:text-gray-200',
  lineColor = 'bna:bg-gray-700 dark:bna:bg-gray-200',
  titleFontSize = 'text-3xl md:text-5xl',
  taglineFontSize = 'text-lg md:text-xl',
} = Astro.props;

const lineAlignment: Record<ItemsPositionClass, string> = {
  'items-center': 'max-md:after:right-[calc(50%-50px)]',
  'items-start': 'max-md:after:left-0',
  'items-end': 'max-md:after:right-0',
};
---

<header class:list={['flex flex-col text-center gap-4', align]}>
  <div class="flex max-w-md flex-col gap-2">
    <h1
      class:list={[
        'relative mx-auto my-6 break-words font-brand font-bold after:-bottom-2 after:w-[100px] bna:absolute bna:h-[1px] before:md:-top-3 before:md:left-0 after:md:-bottom-3 after:md:right-0 bna:md:w-7/12',
        color,
        titleFontSize,
        lineColor,
        lineAlignment[align],
      ]}
    >
      {title}
    </h1>
    {
      tagline && (
        <p class:list={['mx-auto', color, taglineFontSize]}>{tagline}</p>
      )
    }
  </div>
  <slot />
</header>

<style></style>
