---
import '../../styles/global.css';
import { CollectionEntry, getCollection } from 'astro:content';
import format from 'date-fns/format/index.js';

import ContactMe from '../../components/ContactMe.astro';
import SectionHeader from '../../components/SectionHeader.astro';
import Icon from '../../components/Icon.astro';
import StandardLayout from '../../layouts/StandardLayout.astro';
import Pill from '../../components/Pill.astro';

interface Props {
  entry: CollectionEntry<'work'>;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
  const work = await getCollection('work');
  return work.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<StandardLayout title={entry.data.title} description={entry.data.description}>
  <div class="flex flex-col gap-20">
    <div class="gap-15 flex flex-col">
      <header class="border-b border-gray-300 pb-10 dark:border-gray-700">
        <div class="container flex flex-col gap-2">
          <a href="/work/"
            ><span
              class="transition-color border-b border-transparent pb-0.5 text-teal-600 xjy-transition hover:border-teal-600 dark:text-teal-400 hover:dark:border-teal-600"
              ><Icon icon="arrow-left" /> Work</span
            ></a
          >
          <SectionHeader title={entry.data.title} align="items-start">
            {
              (entry.data.role ?? entry.data.timeText) && (
                <div class="-mt-3 text-left">
                  {entry.data.role && <p>{entry.data.role}</p>}
                  {entry.data.timeText && (
                    <p class="italic text-teal-600 dark:text-teal-400">
                      {entry.data.timeText}
                    </p>
                  )}
                </div>
              )
            }
          </SectionHeader>

          <div
            class="grid items-center justify-between gap-6 py-2 md:grid-cols-2 md:gap-10"
          >
            <div class="flex flex-wrap gap-2">
              {entry.data.tags.map((t) => <Pill>{t}</Pill>)}
            </div>
            <p class="text-lg">{entry.data.description}</p>
          </div>
          <div class="mt-4 text-right">
            <p>
              <span class="font-bold">Date Published:&nbsp;</span>
              {format(entry.data.pubDate, 'MMM dd, yyyy')}
            </p>
            {
              entry.data.lastModified && (
                <p class="modified-date">
                  <span class="font-bold">Last Modified:&nbsp;</span>
                  {format(entry.data.lastModified, 'MMM dd, yyyy')}
                </p>
              )
            }
            {
              entry.data.editorsNote && (
                <p class="editors-note">{entry.data.editorsNote}</p>
              )
            }
          </div>
        </div>
      </header>
      <main class="container mt-8">
        <div
          class="[&_a]:transition-color mx-auto flex max-w-[65ch] flex-col font-body [&_a]:text-teal-600 [&_a]:underline [&_a]:decoration-transparent [&_a]:underline-offset-[.25rem] [&_a]:xjy-transition hover:[&_a]:decoration-current dark:[&_a]:text-teal-400 [&_blockquote]:border-s-[0.25rem] [&_blockquote]:border-teal-600 [&_blockquote]:py-2 [&_blockquote]:ps-6 [&_blockquote]:font-brand [&_blockquote]:text-md [&_blockquote]:font-semibold [&_blockquote]:leading-tight dark:[&_blockquote]:border-teal-400 md:[&_blockquote]:text-lg [&_h1]:my-6 [&_h1]:font-brand [&_h1]:text-3xl [&_h1]:font-bold [&_h1]:leading-tight [&_h2]:my-6 [&_h2]:font-brand [&_h2]:text-2xl [&_h2]:font-bold [&_h2]:leading-tight [&_h3]:my-6 [&_h3]:font-brand [&_h3]:text-xl [&_h3]:font-bold [&_h3]:leading-tight [&_h4]:my-6 [&_h4]:font-brand [&_h4]:text-lg [&_h4]:font-bold [&_h4]:leading-tight [&_h5]:my-6 [&_h5]:font-brand [&_h5]:text-md [&_h5]:font-bold [&_h5]:leading-tight [&_h6]:my-6 [&_h6]:font-brand [&_h6]:text-base [&_h6]:font-bold [&_h6]:leading-tight [&_img]:rounded-3xl [&_img]:shadow-md [&_img]:shadow-gray-700/10 dark:[&_img]:shadow-gray-300/10 md:[&_img]:shadow-lg [&_ul]:ms-8 [&_ul]:list-inside [&_ul]:list-disc"
        >
          {
            entry.data.img && (
              <img src={entry.data.img} alt={entry.data.img_alt || ''} />
            )
          }
          <Content />
        </div>
      </main>
    </div>
    <ContactMe />
  </div>
</StandardLayout>

<style></style>
